n8n-workflow/backup-grafana-to-github-YeM66AMnuJQ2B1al.json
{"createdAt":"2025-08-26T18:05:11.181Z","updatedAt":"2025-08-26T19:11:31.587Z","id":"YeM66AMnuJQ2B1al","name":"Backup Grafana to Github","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"df853afb-f48c-4100-b5a3-9428915d2c33","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,416]},{"parameters":{"options":{}},"id":"f2cde72c-1221-441d-bd26-cbfbb29a186c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[240,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2c9b773b-5ba6-4eed-b526-c0d20a9f27e9","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[448,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"2a609a0d-3936-48e3-b771-e9e1b785cda4","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,416]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"=Grafana/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e4b62d5c-28a9-4523-bba1-8c9921cfc773","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1888,432],"webhookId":"fcd9ce46-2e54-4835-a260-4ccdcd1ee687","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}},{"parameters":{"url":"http://grafana:3000/api/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,416],"id":"9eaff347-614f-4e1e-b03b-e87a17906784","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"obEEQvlJDroMBSUG","name":"Bearer Auth account"}}},{"parameters":{"url":"=http://grafana:3000/api/dashboards/uid/{{ $json.uid }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,432],"id":"93dc9141-9336-4afb-808d-a2d7755f6a44","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"obEEQvlJDroMBSUG","name":"Bearer Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1136,416],"id":"00d07e9b-3be9-4853-ac9a-dba13297e7fc","name":"Loop Over Items"},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json.meta.slug }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1616,432],"id":"68165241-3173-45a2-b8fd-5f5fc6a82a6a","name":"Convert to File"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e4d7986-12fd-4f5c-80c7-aeac9b26f133","triggerCount":0,"tags":[]}