n8n-workflow/backup-grafana-to-github-YeM66AMnuJQ2B1al.json
{"createdAt":"2025-08-26T18:05:11.181Z","updatedAt":"2025-08-26T18:05:11.181Z","id":"YeM66AMnuJQ2B1al","name":"Backup Grafana to Github","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"df853afb-f48c-4100-b5a3-9428915d2c33","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,416]},{"parameters":{"options":{}},"id":"f2cde72c-1221-441d-bd26-cbfbb29a186c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[240,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2c9b773b-5ba6-4eed-b526-c0d20a9f27e9","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[448,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"2a609a0d-3936-48e3-b771-e9e1b785cda4","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,416]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"=","path":"f07a701d-840d-46d5-a5c3-f735097ac8fe"},"id":"b1b03fc9-0a34-4b52-ba63-182041880da6","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[848,416],"alwaysOutputData":true,"webhookId":"f07a701d-840d-46d5-a5c3-f735097ac8fe","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"73e1f48c-62c4-4564-9edf-6a4d98048be0","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,416]},{"parameters":{"filters":{},"requestOptions":{}},"id":"4634d9a4-a566-4b59-bf61-a8c058dea37d","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1248,416],"credentials":{"n8nApi":{"id":"qg0rvDtmZGebxPKi","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"f2e99147-a446-4bfe-aa26-dbedac504883","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1440,416]},{"parameters":{"batchSize":1,"options":{}},"id":"7205da5b-c07d-4f40-a369-266931ad1117","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,416]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"ef50efac-c0ea-4ada-bfa7-64c5f963ef40","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,336]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"4b391b00-e36c-4cda-bd27-224303180015"},"id":"0dedacd5-d4fb-421d-baf2-404bb56bcd68","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2144,144],"webhookId":"4b391b00-e36c-4cda-bd27-224303180015","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"fcd9ce46-2e54-4835-a260-4ccdcd1ee687"},"id":"e4b62d5c-28a9-4523-bba1-8c9921cfc773","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2144,544],"webhookId":"fcd9ce46-2e54-4835-a260-4ccdcd1ee687","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8600aa6d-5f6b-42c2-9de8-1bb0bbf3b19e","triggerCount":0,"tags":[]}