n8n-workflow/backup-grafana-to-github-YeM66AMnuJQ2B1al.json
{"createdAt":"2025-08-26T18:05:11.181Z","updatedAt":"2025-08-26T19:34:09.801Z","id":"YeM66AMnuJQ2B1al","name":"Backup Grafana to Github","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"df853afb-f48c-4100-b5a3-9428915d2c33","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-320,416]},{"parameters":{"options":{}},"id":"f2cde72c-1221-441d-bd26-cbfbb29a186c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-128,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"2c9b773b-5ba6-4eed-b526-c0d20a9f27e9","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[80,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"2a609a0d-3936-48e3-b771-e9e1b785cda4","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[256,416]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"=Grafana/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e4b62d5c-28a9-4523-bba1-8c9921cfc773","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2160,560],"webhookId":"fcd9ce46-2e54-4835-a260-4ccdcd1ee687","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}},{"parameters":{"url":"http://grafana:3000/api/search","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,416],"id":"9eaff347-614f-4e1e-b03b-e87a17906784","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"obEEQvlJDroMBSUG","name":"Bearer Auth account"}}},{"parameters":{"url":"=http://grafana:3000/apis/dashboard.grafana.app/v0alpha1/namespaces/default/dashboards/{{ $json.uid }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,432],"id":"93dc9141-9336-4afb-808d-a2d7755f6a44","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"obEEQvlJDroMBSUG","name":"Bearer Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1136,416],"id":"00d07e9b-3be9-4853-ac9a-dba13297e7fc","name":"Loop Over Items"},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json.meta.slug }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1632,432],"id":"68165241-3173-45a2-b8fd-5f5fc6a82a6a","name":"Convert to File"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"=Grafana"},"id":"a24d824d-5420-498a-8a6a-fbd72d4382d6","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[448,416],"alwaysOutputData":true,"webhookId":"f07a701d-840d-46d5-a5c3-f735097ac8fe","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"f095207c-6a4a-431c-b11b-5f6d38b0169b","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1872,432]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"27a385d0-86d0-4201-afc4-623a879385e7","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[656,416]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"=Grafana/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"698bc9c4-0f76-4361-b9a9-d1a88384ced6","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2160,176],"webhookId":"4b391b00-e36c-4cda-bd27-224303180015","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"61276fb8-9347-460c-b998-549f90f64b1d","triggerCount":0,"tags":[]}