n8n-workflow/backup-to-github-r5vvoQAwKYR2AmCR.json
{"createdAt":"2025-08-26T17:50:21.224Z","updatedAt":"2025-08-26T18:04:08.655Z","id":"r5vvoQAwKYR2AmCR","name":"Backup to Github","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"887b77fc-7a20-4b1c-b270-69654df21027","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,416]},{"parameters":{"options":{}},"id":"e34d36fd-f6e9-4f42-92fd-7105f3c2a02d","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[240,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"d7fc2a9c-1bb6-4330-9977-03a91cb3d0e0","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[448,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"3e322de6-bb62-48d7-b584-80b91554c78d","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,416]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"="},"id":"834ee5a3-adff-4959-a39c-b99fa784e698","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[848,416],"alwaysOutputData":true,"webhookId":"68cc770a-4b82-4429-9293-47d16ca66022","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"50d67013-15d8-4395-87dc-086b7adf2091","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,416]},{"parameters":{"filters":{},"requestOptions":{}},"id":"2d4b47b6-7b09-4dfc-9a27-a95216fb0073","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1248,416],"credentials":{"n8nApi":{"id":"qg0rvDtmZGebxPKi","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"cae02290-3e39-45a3-b4b8-97a9a3ca8699","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1440,416]},{"parameters":{"batchSize":1,"options":{}},"id":"adfa7ede-26be-44c1-9499-2d0509192d91","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,416]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"75cf281a-453c-4fe1-8b25-7245ff3852e6","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,336]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"5294618d-4096-494d-96e8-c25417f69e9e","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2144,144],"webhookId":"fabe0894-abe1-44c0-9d48-93417353e0d8","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Pezl05","mode":"list","cachedResultName":"Pezl05","cachedResultUrl":"https://github.com/Pezl05"},"repository":{"__rl":true,"value":"n8n-test","mode":"list","cachedResultName":"n8n-test","cachedResultUrl":"https://github.com/Pezl05/n8n-test"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"95a473fa-0642-4369-8b3f-9d6ccf2db403","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2144,544],"webhookId":"4f2eaf11-c32f-4cb1-8fae-159528743bfe","credentials":{"githubApi":{"id":"mUumSq2OSuu6242B","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f13c4d27-e61b-421b-8741-0a68feb9b5cf","triggerCount":0,"tags":[]}